/* Общие стили */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4; /* Цвет фона для страницы */
    overflow-x: hidden; /* Убираем горизонтальную прокрутку */
}


@font-face {
    font-family: 'MyCustomFont'; /* Название шрифта */
    src: url('assets/front/fontnametag.ttf') format('truetype'); /* Путь к файлу шрифта */
    font-weight: normal;
    font-style: normal;
}

/* Шапка */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #e0e0e0;
    color: #000;
    padding: 15px 5%;
    width: 100%;
    height: 150px; /* Высота шапки */
    box-sizing: border-box; /* Учитываем padding в расчете ширины */
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px; /* Увеличиваем отступ между логотипом и текстом */
}

.logo img {
    height: 150px;
    width: auto;
}

.logo-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Сдвигаем текст вниз */
    font-size: 35px;
    font-weight: bold;
    font-family: 'MyCustomFont', sans-serif; /* Применяем подключённый шрифт */
    color: black; /* Делаем текст чёрным */
    letter-spacing: 2px; /* Увеличиваем расстояние между буквами */
    line-height: 1; /* Уменьшаем расстояние между строками */
    padding-top: 15px; /* Поднимаем текст */
}


nav ul {
    display: flex;
    gap: 30px; /* Увеличено расстояние между элементами */
    list-style-type: none; /* Убираем маркеры */
    padding: 0; /* Убираем отступы */
}

nav li {
    display: inline-block; /* Элементы списка будут располагаться в строку */
}

nav a {
    color: #000;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    align-items: center;
}

nav a img {
    margin-right: 4px; /* Отступ между изображением и текстом */
    width: 35px; /* Задай размер изображения */
    height: 35px;
}

/* Контент */
main {
    padding: 20px;
    background-color: #f4f4f4;
    flex-grow: 1; /* Даем пространство для основного контента */
}

/* Плашка внизу */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #e0e0e0;
    color: #000;
    padding: 10px 20px;
    display: flex;
    justify-content: left;
    align-items: left;
    box-sizing: border-box;
}

.footer-content {
    max-width: 900px;
    width: 100%;
    text-align: left;
    font-size: 16px;
}